<a href="https://colab.research.google.com/github/isys5002-itp/isys5002-2023-semester2/blob/main/07_2_Profit_Analysis_%26_Visualization_Development_Wed_4PM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions:

Work in pair and design and develop a program for the following task.

Create two notebooks:
* an analysis and design notebook/report (which includes analysis and design  discussion)
* a development notebook which includes pseudocode, step-by-step code developement process, testing, and any other industry best practice

# Problem Statement:

You work for a global retail company that operates in various regions around the world, including the Australia and Oceania region. The company stores sales data in a CSV file named "sales.csv," which contains information about sales and profits in different countries. You are tasked with developing a program to analyze sales data stored in a CSV file named "sales.csv" for countries within the Australia and Oceania region. The program should calculate the maximum, minimum, and average profit for each country in this region and create a bar graph displaying the total profit for each country. This visualization aims to provide insights into the financial performance of countries in the Australia and Oceania region, helping your global retail company make informed decisions.

## Algortihm/pseudocode

1. read the "sales.csv' file using pandas

2. filter data for region AUS & Ocenia & profit

3. Calculate max, min and compute avg
4. print the max, min and avg values

4. plot graph for totola profit for ach country
5. display the graph

First, I import the pandas module because panads module provide functions to directly the csv files into dataframes. Also pandas module provide various functions for data manipulation and data analysis.

In [1]:
import pandas as pd

using the pandas read_csv function, I read the proived sales.csv file
save the read data into a datafrema named df

In [5]:
df = pd.read_csv("sales.csv")
print (df)

                               Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub-Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub-Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub-Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub-Saharan Africa             Mozambique        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
1         Online              C   8/22/2012  963881480   9/15/2012
2        Offline              L    5/2/2014  341417157    5/8/2014
3         Online              C   6/20/2014  514321792    7/5/2014
4        Offline              L    2/1/2013  115456712    2/6/2013
..           ...            ...         ...        ...         ...
95        Online              M   7/26/2011  512878119    9/3/2011
96       Offline              L  11/11/2011  810711038  12/28/2011
97       Offline              C    6/1/2016  728815257   6/29/2016
98       Offline              M   7/30/2015  559427106    8/8/2015
99       Offline              L   2/10/2012  665095412   2/15/2012

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
1         2804      205.70     117.11      576782.80   328376.44     248406.36
2         1779      651.21     524.96     1158502.59   933903.84     224598.75
3         8102        9.33       6.92       75591.66    56065.84      19525.82
4         5062      651.21     524.96     3296425.02  2657347.52     639077.50
..         ...         ...        ...            ...         ...           ...
95         888      109.28      35.84       97040.64    31825.92      65214.72
96        6267        9.33       6.92       58471.11    43367.64      15103.47
97        1485      154.06      90.93      228779.10   135031.05      93748.05
98        5767       81.73      56.67      471336.91   326815.89     144521.02
99        5367      668.27     502.54     3586605.09  2697132.18     889472.91

[100 rows x 14 columns]

filter  region = 'Aus& Oceni' of the dataframe df and store the resulting result into a new datafream df_sales

In [16]:
filtered_df = df[['Region', 'Total Profit']]


print(filtered_df)

                               Region  Total Profit
0               Australia and Oceania     951410.50
1   Central America and the Caribbean     248406.36
2                              Europe     224598.75
3                  Sub-Saharan Africa      19525.82
4                  Sub-Saharan Africa     639077.50
..                                ...           ...
95                 Sub-Saharan Africa      65214.72
96                               Asia      15103.47
97                 Sub-Saharan Africa      93748.05
98                      North America     144521.02
99                 Sub-Saharan Africa     889472.91

[100 rows x 2 columns]